body {
    background-color: rgb(116, 17, 10);
    color: black;
}

h1 {
    color: black;
}

article {
    width: 500px;
    margin-bottom: 40px;
    border: 0.5px solid rgb(255, 255, 255);
    background-color: rgb(224, 142, 139);
}

header {
    background-color: rgb(219, 124, 16);
    min-height: 8rem;
    padding: 5rem
}

footer {
    background-color: rgb(219, 124, 16);
    min-height: 5rem; 
}